.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin: 18px;
}

.header_search {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_iconButton {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header_optionOne {
  font-size: 10px;
}

.header_optionTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBusket {
  display: flex;
  color: white;
  justify-content: center;
}

.header_busketcount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_option a {
  text-decoration: none;
}
